  .cards-container {
    display: flex;
    overflow-x: auto;
    position: relative;
    
    &::-webkit-scrollbar {
      display: none;
    }

    .card-box{
        flex: 0 0 19.7%;
        text-align: center;
        margin: 0 2px;
        transition: transform 300ms ease 100ms;
        display: flex;
        height: 280px;
        width: 200px;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
      /*   margin-left: -50px; */
        transition: 0.4s ease-out;
        position: relative;
        left: 0px;
        .card {
  
            cursor: pointer;
            transition: all 250ms ease-in-out;
            
            img {
              width: 250px;
              height: 250px;
              object-fit: center;
            }
            
            &:hover {
              box-shadow: 0 4px 1rem -4px #000;
              transform: translateY(-3px);
            }
          
    }
  }
.cards-container:hover .card {
    transform: translateX(-25%);
 }

 .card:hover ~ .card {
    transform: translateX(25%);
 }

 .card:hover {
    transform: scale(1.5) !important;
  }


   
}






 
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }