.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  padding: 30px 20px;
  position: relative;
  height: 320px;
  width: 200px;
  background-color: purple;
  border-radius: 10px;
  

  h4{
    line-height: 1.25em;
  }

  p{
    display: block;
  }
  
  img {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
}



.show-details-button{
  display:none;
}

@media only screen and (max-width: 991.98px){
  .item {
    flex: 0 0 32%;
  }
}

@media only screen and (max-width: 600px) {

  .item {
    flex: 0 0 100%;
  }
 
  .slide-button{
    background: rgba(0, 0, 0, 0);
  }
 
}

button:focus {

  outline: 0px auto -webkit-focus-ring-color;
}

.card-sections{
  padding: 0 50px;
  h1{
    margin-bottom: 0px;
  }
  .default{
    .item{
        background-color: #5603ad;
    }
  }
  .primary{
    .item{
        background-color: #e14eca;
    }
  }
  .info{
    .item{
        background-color: #5e72e4;
    }
  }
  .success{
    .item{
        background-color: #00f2c3;
    }
  }
  .warning{
    .item{
        background-color: #ff8d72;
    }
  }
  .danger{
    .item{
        background-color: #f5365c;
    }
  }
}